<div class="grid grid-cols-1 md:grid-cols-2 px-2 md:px-8">
  <div class="flex flex-col justify-center text-center md:text-left">
    <p class="text-xl font-semibold">Planeá tu viaje ahora</p>
    <p class="text-5xl font-bold py-3">
      Ahorrá <span class="text-emerald-900">mucho</span> con nuestros alquileres
    </p>
    <p class="text-lg py-3">
      Alquilá el auto de tus sueños. Precios imbatibles, kilometros ilimitados,
      horarios flexibles y más.
    </p>
    <div class="flex flex-col md:flex-row gap-6">
      <button
        type="button"
        class="shadow-lg shadow-emerald-900/50 text-white bg-emerald-900 focus:ring-4 focus:outline-none font-medium rounded text-sm px-8 py-3 text-center mr-3 md:mr-0"
      >
        Reservar
        <ng-icon class="align-[-4px] text-lg ps-1" name="matCheckCircle"></ng-icon>
      </button>
      <button
        type="button"
        class="text-white bg-black focus:ring-4 focus:outline-none font-medium rounded text-sm px-8 py-3 text-center mr-3 md:mr-0 hover:text-black hover:bg-white outline hover:outline-black"
      >
        Aprendé más
        <ng-icon class="align-[-4px] text-lg ps-1" name="matArrowForwardIos"></ng-icon>
      </button>
    </div>
  </div>
  <div class="hidden md:block">
    <img
      src="https://www.planx5.com/web/sites/default/files/publico/styles/autos_usados_detalle/public/PRD/nuevo-gol.png?itok=FQ6iT_3Q"
      alt="gol trend"
    />
  </div>
</div>
