<div class="my-20 mx-4 xl:mx-32">
  <div class="text-center mb-12">
    <h4 class="text-2xl font-bold">FAQ</h4>
    <h2 class="text-4xl font-bold">Preguntas Frecuentes</h2>
    <p class="mt-2">
      Preguntas frecuentes sobre el proceso de reserva de coches de alquiler en
      nuestro sitio web: Respuestas a las dudas y preguntas más frecuentes.
    </p>
  </div>
  <div id="accordion-collapse" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-1">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 hover:bg-gray-100"
        data-accordion-target="#accordion-collapse-body-1"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-1"
      >
        <span>¿Qué tiene de especial comparar ofertas?</span>
        <svg
          data-accordion-icon
          class="w-6 h-6 rotate-180 shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-1"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-1"
    >
      <div class="p-5 border border-b-0 border-gray-200">
        <p class="mb-2 text-gray-500">
          Comparar ofertas es importante, ya que le ayuda a encontrar la mejor
          oferta que se adapte a su presupuesto y a sus necesidades,
          asegurándose de que obtiene el máximo valor por su dinero. Comparando
          varias opciones, puede encontrar ofertas que ofrezcan precios más
          bajos, servicios adicionales o mejores modelos de coche. Puede
          encontrar ofertas de alquiler de coches buscando en Internet y
          comparando los precios de distintas empresas de alquiler.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-2">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100"
        data-accordion-target="#accordion-collapse-body-2"
        aria-expanded="false"
        aria-controls="accordion-collapse-body-2"
      >
        <span>¿Cómo encuentro las ofertas de alquiler?</span>
        <svg
          data-accordion-icon
          class="w-6 h-6 shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-2"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-2"
    >
      <div class="p-5 border border-b-0 border-gray-200">
        <p class="mb-2 text-gray-500">
          Podés encontrar ofertas de alquiler de coches investigando en Internet
          y comparando precios de distintas empresas de alquiler. Sitios web
          como Expedia, Kayak y Travelocity permiten comparar precios y ver las
          opciones de alquiler disponibles. También es recomendable suscribirse
          a boletines de noticias por correo electrónico y seguir a las empresas
          de alquiler de coches en las redes sociales para estar informado de
          cualquier oferta o promoción especial.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-3">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100"
        data-accordion-target="#accordion-collapse-body-3"
        aria-expanded="false"
        aria-controls="accordion-collapse-body-3"
      >
        <span>¿Cómo encuentro precios de alquiler tan bajos?</span>
        <svg
          data-accordion-icon
          class="w-6 h-6 shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-3"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-3"
    >
      <div class="p-5 border border-t-0 border-gray-200">
        <p class="mb-2 text-gray-500">
          Reservá con antelación: Reservar el coche de alquiler con antelación a
          menudo puede resultar en precios más bajos. Compare precios de varias
          compañías: Utiliza sitios web como Kayak, Expedia o Travelocity para
          comparar precios de varias empresas de alquiler de coches. Buscá
          códigos de descuento y cupones: Buscá códigos de descuento y cupones
          que pueda utilizar para reducir el precio del alquiler. Alquilar en
          una oficina fuera del aeropuerto a veces puede resultar en precios más
          bajos.
        </p>
      </div>
    </div>
  </div>
</div>
