<footer class="bg-white text-center md:text-left">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-1 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
      <div>
        <p class="mb-6 text-sm font-bold">
          Alquil
          <span class="text-emerald-900">AR</span>
        </p>
        <ul class="font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">
              <ng-icon class="align-[-2px]" name="matLocalPhone"></ng-icon>
              +54 11 1111-1111
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">
              <ng-icon class="align-[-2px]" name="matEmail"></ng-icon>
              alquilar@gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-bold uppercase">Company</h2>
        <ul class="dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">New York</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Carreras</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Móvil</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Blog</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Cómo trabajamos</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-bold uppercase">Horario</h2>
        <ul class="font-medium">
          <li class="mb-4">
            <p>Lun - Mar: 9:00 - 21:00</p>
          </li>
          <li class="mb-4">
            <p>Sab: 9:00 - 19:00</p>
          </li>
          <li class="mb-4">
            <p>Dom: Cerrado</p>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-bold uppercase">Suscripción</h2>
        <div>
          <p class="mb-4">
            Suscríbase con su dirección de correo electrónico para recibir las
            últimas noticias y actualizaciones.
          </p>
          <input
            type="text"
            class="text-center mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Email"
          />
          <button
            type="submit"
            class="w-full bg-emerald-900 text-white text-lg py-1.5 rounded shadow-lg shadow-emerald-900/50"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
