<div class="my-20 mx-4 md:mx-8">
  <div class="text-center">
    <p class="text-2xl font-semibold">Planeá tu viaje ahora</p>
    <p class="text-4xl font-bold">Rápido y fácil alquiler</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 mt-8 gap-16">
    <div class="text-center">
      <ng-icon class="text-6xl text-emerald-900" name="matDirectionsCar"></ng-icon>
      <h2 class="font-bold text-2xl">Seleccioná el modelo</h2>
      <p class="mt-2">
        Le ofrecemos una amplia gama de vehículos para todas sus necesidades de
        conducción. Tenemos el coche perfecto para satisfacer tus necesidades.
      </p>
    </div>
    <div class="text-center">
      <ng-icon class="text-6xl text-emerald-900" name="matHeadsetMic"></ng-icon>
      <h2 class="font-bold text-2xl">Contactanos</h2>
      <p class="mt-2">
        Nuestros expertos y amables operadores están siempre dispuestos a
        ayudarle con cualquier pregunta o duda.
      </p>
    </div>
    <div class="text-center">
      <ng-icon class="text-6xl text-emerald-900" name="matCarRepair"></ng-icon>
      <h2 class="font-bold text-2xl">Manejemos</h2>
      <p class="mt-2">
        Tanto si queres salir a carretera como si no, nuestra amplia gama de
        coches te ofrece todo lo que necesitás.
      </p>
    </div>
  </div>
</div>
