<div class="bg-neutral-100 py-20">
  <div class="text-center mx-4 md:mx-8">
    <h3 class="text-2xl font-semibold">Recomendado por gente</h3>
    <h2 class="text-4xl font-bold my-4">Testimonios de Clientes</h2>
    <div class="flex justify-center">
      <p class="md:w-6/12">
        Descubrí el impacto positivo que hemos tenido en nuestros clientes leyendo
        sus testimonios. Nuestros clientes han experimentado nuestro servicio y
        nuestros resultados, y están deseando compartir sus experiencias positivas
        con vos.
      </p>
    </div>
  </div>
  <div
    class="my-20 mx-4 xl:mx-32 grid mb-8 border border-gray-200 rounded-lg shadow-sm md:mb-12 md:grid-cols-2"
  >
    <figure
      class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r"
    >
      <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
        <h3 class="text-lg font-semibold text-gray-900">
          "Alquilamos un coche aca y tuvimos una experiencia increíble. La
          reserva fue fácil y las tarifas de alquiler eran muy asequibles. "
        </h3>
      </blockquote>
      <figcaption class="flex items-center justify-center space-x-3">
        <img
          class="rounded-full w-9 h-9"
          src="https://static-cdn.jtvnw.net/jtv_user_pictures/fa8aa999-7be5-40fc-9ff4-f657b23c7d5a-profile_image-70x70.png"
          alt="profile picture"
        />
        <div class="space-y-0.5 font-medium text-left">
          <div>Guillermo Diaz</div>
          <div class="text-sm text-gray-500">Palermo</div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg"
    >
      <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
        <h3 class="text-lg font-semibold text-gray-900">
          "El coche estaba en muy buenas condiciones e hizo nuestro viaje aún
          mejor. Muy recomendable."
        </h3>
      </blockquote>
      <figcaption class="flex items-center justify-center space-x-3">
        <img
          class="rounded-full w-9 h-9"
          src="https://static-cdn.jtvnw.net/jtv_user_pictures/41b31104-9cbb-4524-ab1f-44e523eff35c-profile_image-70x70.png"
          alt="profile picture"
        />
        <div class="space-y-0.5 font-medium text-left">
          <div>Roberto Galati</div>
          <div class="text-sm text-gray-500">Recoleta</div>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
