<div class="text-center md:text-left grid grid-cols-1 md:grid-cols-2 my-20 mx-4 lg:mx-32 gap-12">
  <div>
    <p class="text-2xl font-semibold">Por qué elegirnos?</p>
    <p class="text-4xl font-bold py-6">
      Las mejores ofertas que podés encontrar
    </p>
    <p>
      Descubrí las mejores ofertas con nuestras inmejorables ofertas. Nuestro
      objetivo es ofrecerte la mejor relación calidad-precio, para que puedas
      disfrutar de servicios y productos de la máxima calidad sin arruinarse.
      Nuestras ofertas están diseñadas para ofrecerle la mejor experiencia de
      alquiler, así que no pierda la oportunidad de ahorrar a lo grande.
    </p>
    <button
      type="button"
      class="mt-8 text-white bg-emerald-900 focus:ring-4 focus:outline-none font-medium rounded text-sm px-8 py-3 text-center"
    >
      Más Detalles
      <ng-icon
        class="align-[-4px] text-lg ps-1"
        name="matArrowForwardIos"
      ></ng-icon>
    </button>
  </div>
  <div>
    <div class="block md:flex gap-8">
      <p class="text-8xl text-emerald-900">
        <ng-icon name="matLocalCarWash"></ng-icon>
      </p>
      <div>
        <h4 class="text-2xl font-bold mb-2">Manejo Todoterreno</h4>
        <p>
          Llevá tu experiencia de conducción al siguiente nivel con nuestros
          vehículos de primera categoría para tus aventuras campo a través.
        </p>
      </div>
    </div>
    <div class="block md:flex gap-8 my-8">
      <p class="text-8xl text-emerald-900">
        <ng-icon name="matAttachMoney"></ng-icon>
      </p>
      <div>
        <h4 class="text-2xl font-bold mb-2">Precios con todo incluido</h4>
        <p>
          Obtené todo lo que necesitas a un precio cómodo y transparente gracias
          a nuestra política de precios con todo incluido.
        </p>
      </div>
    </div>
    <div class="block md:flex gap-8">
      <p class="text-8xl text-emerald-900">
        <ng-icon name="matMoneyOff"></ng-icon>
      </p>
      <div>
        <h4 class="text-2xl font-bold mb-2">Sin costes ocultos</h4>
        <p>
          Disfrutá de la tranquilidad de nuestra política sin cargos ocultos.
          Creemos en los precios transparentes y honestos.
        </p>
      </div>
    </div>
  </div>
</div>
