<div class="my-20 bg-gray-100">
  <div class="flex flex-col items-center py-16 mx-4">
    <p class="text-4xl font-semibold text-center">
      Descárgá nuestra aplicación para sacarle el máximo partido
    </p>
    <div class="flex flex-col md:flex-row gap-8 mt-8">
      <a routerLink=""
        ><img
          class="h-[80px]"
          alt="Play Store"
          src="https://www.ricoh-imaging.co.jp/english/support/download/app/image-sync/top/img/btn_download_googleplay_en.png"
      /></a>
      <a routerLink=""
        ><img
          class="h-[80px]"
          alt="App Store"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA2wknSQ_mZAwvyuns8unYI3bcXebQGzxFj58KA5JavkPRZT8nLLP45LUUkRCWVUMFTw&usqp=CAU"
      /></a>
    </div>
  </div>
</div>
